<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobillium.paparasdk.sdk.sampleapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Papara Sdk"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboard|orientation">

        </activity>
        <activity
            android:name=".ui.PaymentActivity"
            android:configChanges="keyboard|orientation">

        </activity>
        <activity
            android:name="com.mobillium.paparasdk.PaparaControllerActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="papara.sdk.action.App87826504" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.OptionsActivity"
            android:configChanges="keyboard|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>